{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Жасырын сөзді қалпына келтіру" %}{% endblock %}

{% block content %}
<div class="container-menos">
  <h1>{% trans "Жасырын сөзді қалпына келтіру" %}</h1>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% trans "Құпия сөзіңізді ұмыттыңыз ба? Төмендегі электрондық пошта мекенжайын енгізіңіз және біз сізге оны қалпына келтіруге мүмкіндік беретін электрондық пошта жібереміз." %}</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" class='btn' value="{% trans 'Менің жасырын сөзімді қалпына келтіру' %}"/>
  </form>
  <br>
  <p>{% blocktrans %}Егер сіз қалпына келтіруге қандай да бір проблемалар болсы, бізбен хабарласыңыз.{% endblocktrans %}</p>
</div>

{% endblock %}
