{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Жасырын сөзді қалпына келтіру" %}{% endblock %}

{% block content %}
<div class="container-menos">
  <h1>{% trans "Жасырын сөзді қалпына келтіру" %}</h1>

  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% blocktrans %}Біз сізге электрондық хат жібердік. Егер сіз оны бірнеше минут ішінде алмасаңыз, бізге
    хабарласыңыз.{% endblocktrans %}</p>
</div>
{% endblock %}
