<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="ru">
<head>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/common/logo.png' %}">
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/courses.css' %}">
  <title>{% trans 'Менің курстар' %}</title>
</head>
<body>
<div class="kurstar">
  <section class="navbar">
    <div class="navbar__item">
      <a href="{% url 'kurstar:index' %}"><img src="{% static 'img/common/logo.png' %}" alt="icon"></a>
    </div>
    <div class="navbar__item">
      <a href="{% url 'kurstar:mycourses' %}"><img src="{% static 'img/courses/image 76.png' %}" alt="icon"></a>
    </div>
  </section>
  <section class="content">
    <div class="container">
      <h2 class="content__heading">kurstar</h2>
      <h2 class="content__courcelist">Список курсов</h2>


      {% for course in courses %}
      {% if course.visible %}
      <div class="ielts">
        <a href="{% url 'kurstar:course_detail' course.id %}">
          <h1 class="heading">Курс "{{course.title}}"</h1>
          <!--          <p class="paragraph"><span class="bold">15 уроков.</span> Курс по подготовке к международному экзамену “IELTS”-->
          <!--          </p>-->
        </a>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </section>
</div>
</body>
</html>