{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h2 style="font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 80px;
line-height: 82px;
/* or 102% */
color: #FD5C63;
opacity: 0.3;">KURSTAR</h2>

  <h2 style="font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 78px;
/* identical to box height, or 130% */


color: #000000;">Приобретайте курс</h2>
  <div style="
width: 212px;
height: 40px;
background: #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" class="d-flex justify-content-center align-items-center">
    <p style="
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  text-decoration-line: underline;
  color: #003D92;">
    </p> 5.000 тенге
  </div>
  <br>
  <div>Произедите оплату на <strong>Kaspi Gold</strong> по номеру <strong>+7 (707) 343 30 31</strong>
  </div>
  <div> Укажите логин и отправьте чек по номеру
<!--    <strong>+7 (701) 505 25 65</strong>-->
  </div>
  <br><br><br>

</div>
{% endblock %}